     <script>
         function toggleNav(){
             document.getElementById("navbarText").classList.toggle("collapse2");
             console.log("DROPPED");
         }
         function toggleCards(){
             document.getElementById("column").classList.toggle("collapse");
             console.log("DROPPED");
         }
         
         $('#myModal').on('shown.bs.modal', function() {
  $('#myInput').focus()
})
         </script>
         
        <!--//  function dropdownCal(){-->
        <!--//      $('.dropdown-toggle').dropdown()-->
        <!--//  }-->

        <!--//  $(function () {-->
        <!--//      $('[data-toggle="tooltip"]').tooltip()-->
        <!--//  })-->
   
     
      <!--<script>-->
      <!--     document.onload = function() { -->
      <!--           particlesJS.init({ -->
      <!--             selector: '.background' -->
      <!--        }) -->
      <!--   }-->
      <!--</script>-->
     
      
<!--//    <script src="/node_modules/particlesjs/dist/particles.min.js"></script>-->
     </body>
</html>