<div class = "jumbotron-fluid">
    <div class = "container">
    <h1 class = "display-3 animated fadeInDown" style="padding-bottom: 20px; padding-top: 80px;color: #68b7e7; text-align: center; padding-right: 5px">SPACES</h1> 
    </div> 
</div> 